.section1 h3 {
    color:  #3a0ca3;
}

img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.section1 {
    border: 0;
}

main {
    margin-bottom: 2em;
}

/*
    color: rgb(209, 209, 209);

    #f72585;

    #4361ee;
*/

/*-----------------------------------------------follow---------------------------------------*/

.follow {
    width: 100%;
    background: #7209b7;
    margin:0;
    padding: 3em 0;
}

.box4 {
    width: 90%;
    color: rgb(223, 223, 223);
    text-align: center;
}

input {
    font-size: 1rem;
}

.sub input {
    padding: 0.8em 2.4em;
    margin-bottom: 1em;
    transform: scale(1);
    transition: 500ms;
}

.sub input:focus {
    transform: scale(1.1);
}


button {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(223, 223, 223);
    background: #4361ee;
    border: 2px solid rgb(223, 223, 223);
    font-family: "Funnel Display", sans-serif;
    cursor: pointer;
    transition: 500ms;
}

.box button {
    padding: 0.8em 1.6em;
    margin: 0 auto;
}

button:hover {
    background: #3a0ca3;
}

.guide p {
    color: rgb(223, 223, 223);
    margin-bottom: 2em;
}

.follow h3 {
    color: rgb(223, 223, 223);
    padding: 0;
    margin-bottom: 1em;
}

.guide {
    margin-bottom: 4em;

}


/*----------------------------------------------------Web----------------------------------*/

@media all and (min-width:769px) {

.box4 {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub input {
    margin-right: 1em;
}

/*
.guide {
        width: 70%;
}
*/

}
